<mat-card>
  <mat-card-header>
    <mat-card-title>{{ project?.name }}</mat-card-title>
    <mat-card-subtitle>Created at: {{ project?.created_at | date }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="project?.description; else noDescriptionMessage">
      {{ project.description }}
    </p>
    <ng-template #noDescriptionMessage>
      <p>
        This project has no description.
      </p>
    </ng-template>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openInGitHub()" color="accent">View on GitHub</button>
  </mat-card-actions>
</mat-card>