$men-yellow: (
  50: #ffb961,
  100: #ffb961,
  200: #ffb961,
  300: #ffb961,
  400: #ffb961,
  500: #ffb961,
  600: #ffb961,
  700: #ffb961,
  800: #ffb961,
  900: #ffb961,
  A100: #ffb961,
  A200: #ffb961,
  A400: #ffb961,
  A700: #ffb961,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: black,
    600: black,
    700: black,
    800: black,
    900: black,
    A100: black,
    A200: black,
    A400: black,
    A700: black,
  )
);
