// below defines your custom color to build a theme palette from
$men-wine: (
  50: #c05c7e,
  100: #c05c7e,
  200: #c05c7e,
  300: #c05c7e,
  400: #c05c7e,
  500: #c05c7e,
  600: #c05c7e,
  700: #c05c7e,
  800: #c05c7e,
  900: #c05c7e,
  A100: #c05c7e,
  A200: #c05c7e,
  A400: #c05c7e,
  A700: #c05c7e,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
