// below defines your custom color to build a theme palette from
$men-orange: (
  50: #f3826f,
  100: #f3826f,
  200: #f3826f,
  300: #f3826f,
  400: #f3826f,
  500: #f3826f,
  600: #f3826f,
  700: #f3826f,
  800: #f3826f,
  900: #f3826f,
  A100: #f3826f,
  A200: #f3826f,
  A400: #f3826f,
  A700: #f3826f,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: black,
    600: black,
    700: black,
    800: black,
    900: black,
    A100: black,
    A200: black,
    A400: black,
    A700: black,
  )
);
