@import '~@angular/material/theming';
@import './colors/men-blue.scss';
@import './colors/men-yellow.scss';

@include mat-core();
// $men-o-app-primary: mat-palette($mat-deep-purple);
$men-o-app-primary: mat-palette($men-blue, 100, 50, 200);
$men-o-app-accent:  mat-palette($mat-yellow, 800);
$men-o-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$men-o-app-theme: mat-light-theme($men-o-app-primary, $men-o-app-accent, $men-o-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($men-o-app-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
